@{
	ViewBag.Title = "Обучение преподавателей";
}
<div id="box1">
	<div id="main-content">
		<div style="width: 650px; float: left; overflow: hidden">
			<h1 style="margin-top: 20px; margin-bottom: 10px; font-size: 32px;">
				Предложение по обучению педагогов</h1>
			Академия Робототехники обладает успешным опытом преподавания робототехники. Сегодня
			мы можем передать этот опыт вам, для этого нами создан специальный курс для педагогов:
			<b>Современная робототехника в образовании.</b>
		</div>
		@Html.Partial("PartnersMenu")
		<div class="clear">
		</div>
		<h3>
			В процессе изучения курса педагоги:</h3>
		<ul>
			<li>Научаться проектировать, конструировать и программировать роботов Lego NXT и Bioloid,</li>
			<li>Изучать современные системы моделирования и программирования роботов Lego Digital
				Designer, RoboLab, Microsoft Robotics Development Studio, </li>
			<li>Поработают с детьми на реальных занятых,</li>
			<li>Получат и изучат все необходимые учебно-методические материалы для преподавания
				робототехники у себя в школе.</li>
		</ul>
		<b>Стоимость прохождения курса:</b> 10000 руб.<br />
		<b>Длительность курса:</b> 1 месяц, занятия проходят 2 раза в неделю, по 2 часа.<br />
		<b>Необходимые начальные знания:</b> свободное владение компьютером (желательно
		также знание основ физики и программирования).<br />
		<br />
		По окончанию курса, педагогу выдается свидетельство о прохождении курса: <b>Современная
			робототехника в образовании.</b>
		<br />
		<br />
		Пройдя обучение у нас, вы сможете организовать у себя в школе секцию робототехники.
		Для более подробной информации, обращайтесь к нам.
				<br />
		<br />
		<img style="display:block; float:left;margin-top:-5px; height:30px; margin-right:10px;" src="@Url.Content("~/Content/images/pdf-icon.png")"/><a href="/pdf/training.pdf">Загрузить описание предложения в формате PDF</a>
		<br />
		<div class="footer-links">
			<a href="@Url.Action("Team", "About")">Команда Академии</a>
			<a href="@Url.Action("Events", "About")">События</a>
			<a href="@Url.Action("SMI", "About")">СМИ о нас</a>
		</div>
	</div>
</div>
