@{
	ViewBag.Title = "Начальная школа";
}
<div id="box1">
	<div id="main-content">
		<div style="width: 700px; float: left; overflow: hidden">
			<h1 style="margin-top: 20px; margin-bottom: 10px; font-size: 32px;">
				Начальная школа</h1>
			<h3>
				Что изучается?</h3>
			<ul>
				<li>Рекомендованные образовательные программы LEGO, авторские курсы преподавателей прошедших
					подготовку в центрах робототехники в Москве по направлению проектирования, конструирования
					и программирования роботов из конструкторов <a href="http://mindstorms.lego.com/en-us/default.aspx?icmp=COUSFR30MINDSTORMS">
						Лего Майнстормс</a>;</li>
				<li>Начальные знания работы с компьютером.</li>
				<ul>
					<li>Lego Digital Designer</li>
					<li>Lego NXT-G</li>
				</ul>
			</ul>
		</div>
		@Html.Partial("CoursesMenu")
		<div class="clear">
		</div>
		<h3>
			Как проходят занятия?</h3>
		<ul>
			<li>Занятия проходят в группах по 10 человек 2 раза в неделю.</li>
			<li>Игровое занятие по сбору определенного устройства из конструктора.</li>
			<li>На каждом занятие ученик собирает конструкцию по инструкции, после пробует улучшить
				ее. Проводятся соревнования между учениками на разработку самого оптимального варианта
				конструкции.</li>
		</ul>
		<h3>
			Какой результат я получу?</h3>
		<ul>
			<li>Погружение ученика в увлекательный мир робототехники и современных технологий;</li>
			<li>Новое увлечение, которое заложит основу для будущего технического развития;</li>
			<li>Начальные навыки и представление о работе компьютера;</li>
			<li>Развитие как творческих и так технических задатков интеллекта.</li>
		</ul>
		<img style="display:block; float:left;margin-top:-5px; height:30px; margin-right:10px;" src="@Url.Content("~/Content/images/pdf-icon.png")"/>
		<a href="/pdf/plan1.pdf" target="_blank">Посмотреть учебный план</a>
		<div class="footer-links">
			<a href="@Url.Action("Team", "About")">Команда Академии</a>
			<a href="@Url.Action("Events", "About")">События</a>
			<a href="@Url.Action("SMI", "About")">СМИ о нас</a>
		</div>
	</div>
</div>
