@{
	ViewBag.Title = "Введение в робототехнику";
}
<div id="box1">
	<div id="main-content">
		<div style="float: right">
			@Html.Partial("CoursesMenu")
		</div>
		<h1 style="margin-top: 20px; margin-bottom: 10px; font-size: 32px;">О робототехнике</h1>
		<div class="intro-wrapper">
			<div class="intro-main">
				<div class="intro-caption" data-file="tournaments">
					- Что такое робототехника
				</div>
				<div class="intro-icon">
					<img class="download-icon" src="@Url.Content("~/Content/images/pdf-icon.png")" data-file="intro" />
				</div>
			</div>
			<div class="intro-text" style="margin-top: 10px">
				<object style="height: 450px; width: 900px;">
					<param name="movie" value="http://www.docme.ru/v?id=77964&key=6f3b631553db0aa4cc069d39fa1fb982" />
					<param name="wmode" value="opaque" />
					<param name="allowFullScreen" value="true" />
					<param name="allowScriptAccess" value="always" />
					<embed src="http://www.docme.ru/v?id=77964&key=6f3b631553db0aa4cc069d39fa1fb982"
						type="application/x-shockwave-flash" wmode="opaque" allowfullscreen="true" allowscriptaccess="always"
						width="900px" height="450px" /></object>
			</div>
		</div>
		<div class="intro-wrapper">
			<div class="intro-main">
				<div class="intro-caption" data-file="tournaments">
					- Виды робототехнических наборов для обучения
				</div>
				<div class="intro-icon">
					<img class="download-icon" src="@Url.Content("~/Content/images/pdf-icon.png")" data-file="nabor" />
				</div>
			</div>
			<div class="clear">
			</div>
			<div class="intro-text" style="margin-top: 10px">
				<object style="height: 450px; width: 900px">
					<param name="movie" value="http://www.docme.ru/v?id=77959&key=56f7a33cf7db8fd30c0975e2ba6a4acb" />
					<param name="wmode" value="opaque" />
					<param name="allowFullScreen" value="true" />
					<param name="allowScriptAccess" value="always" />
					<embed src="http://www.docme.ru/v?id=77959&key=56f7a33cf7db8fd30c0975e2ba6a4acb"
						type="application/x-shockwave-flash" wmode="opaque" allowfullscreen="true" allowscriptaccess="always"
						width="900px" height="450px" /></object>
			</div>
		</div>
		<div class="intro-wrapper">
			<div class="intro-main">
				<div class="intro-caption" data-file="tournaments">
					- Тематический план первого года обучения
				</div>
				<div class="intro-icon">
					<img class="download-icon" src="@Url.Content("~/Content/images/pdf-icon.png")" data-file="plan"/>
				</div>
			</div>
			<div class="clear">
			</div>
			<div class="intro-text" style="margin-top: 10px">
				<object style="height: 450px; width: 900px">
					<param name="movie" value="http://www.docme.ru/v?id=77963&key=7fa44f894a250fecdcf6d00acb7b2d1a" />
					<param name="wmode" value="opaque" />
					<param name="allowFullScreen" value="true" />
					<param name="allowScriptAccess" value="always" />
					<embed src="http://www.docme.ru/v?id=77963&key=7fa44f894a250fecdcf6d00acb7b2d1a"
						type="application/x-shockwave-flash" wmode="opaque" allowfullscreen="true" allowscriptaccess="always"
						width="900px" height="450px" /></object>
			</div>
		</div>
		<div class="intro-wrapper">
			<div class="intro-main">
				<div class="intro-caption" data-file="tournaments">
					- Виды программного обеспечения для обучения
				</div>
				<div class="intro-icon">
					<img class="download-icon" src="@Url.Content("~/Content/images/pdf-icon.png")" data-file="soft"/>
				</div>
			</div>
			<div class="clear">
			</div>
			<div class="intro-text" style="margin-top: 10px">
				<object style="height: 450px; width: 900px">
					<param name="movie" value="http://www.docme.ru/v?id=77956&key=3551fc7563b741c324ebca06fd2d2838" />
					<param name="wmode" value="opaque" />
					<param name="allowFullScreen" value="true" />
					<param name="allowScriptAccess" value="always" />
					<embed src="http://www.docme.ru/v?id=77956&key=3551fc7563b741c324ebca06fd2d2838"
						type="application/x-shockwave-flash" wmode="opaque" allowfullscreen="true" allowscriptaccess="always"
						width="900px" height="450px" /></object>
			</div>
		</div>
		<div class="intro-wrapper">
			<div class="intro-main">
				<div class="intro-caption" data-file="tournaments">
					- Виды турниров
				</div>
				<div class="intro-icon">
					<img class="download-icon" src="@Url.Content("~/Content/images/pdf-icon.png")" data-file="tournaments"/>
				</div>
			</div>
			<div class="clear">
			</div>
			<div class="intro-text" style="margin-top: 10px">
				<object style="height: 450px; width: 900px">
					<param name="movie" value="http://www.docme.ru/v?id=77961&key=f0c5ca261661ead65c640bfcfa8e3c8f" />
					<param name="wmode" value="opaque" />
					<param name="allowFullScreen" value="true" />
					<param name="allowScriptAccess" value="always" />
					<embed src="http://www.docme.ru/v?id=77961&key=f0c5ca261661ead65c640bfcfa8e3c8f"
						type="application/x-shockwave-flash" wmode="opaque" allowfullscreen="true" allowscriptaccess="always"
						width="900px" height="450px" /></object>
			</div>
		</div>
		@*<div class="contents">
			<ul>
				<li><span class="text">Тематический план первого года обучения</span><img class="download-icon" src="@Url.Content("~/Content/images/pdf-icon.png")" /></li>
				<li><span class="text">Учебно–тематический план</span><img class="download-icon" src="@Url.Content("~/Content/images/pdf-icon.png")" /></li>
				<li><span class="text">Краткое описание занятий</span><img class="download-icon" src="@Url.Content("~/Content/images/pdf-icon.png")" /></li>
				<li><span class="text">Виды турниров</span><img class="download-icon" src="@Url.Content("~/Content/images/pdf-icon.png")" /></li>
			</ul>
		</div>*@
	</div>
</div>
