<div class="menu-team">
	<ul>
		<li data-href="Team"><a href="@Url.Action("Team", "About")">Команда</a></li>
		<li data-href="Academy"><a href="@Url.Action("Academy", "About")">Миссия</a></li>
		<li data-href="Events"><a href="@Url.Action("Events", "About")">События</a></li>
		<li data-href="SMI"><a href="@Url.Action("SMI", "About")">СМИ о нас</a></li>
		<li data-href="Review"><a href="@Url.Action("Review", "About")">Отзывы</a></li>
	</ul>
</div>
